<!DOCTYPE html>
<body>
  
  <center>
    <img src="static/6.jpg" width="500" height="700" /><img>
    <h1>Auttapon Puangthipwan</h1>
		<h1>68130489</h1>
    <h1><a href="/show_data">Show Movie from DB</a></h1>
		<br>
		
	</body></center>


     <head>
      <style>
        /* กำหนดสีพื้นหลังของทั้งหน้าเว็บ */
        body {
          background-color: lightblue; /* เปลี่ยนเป็นสีที่ต้องการ */
        }

        /* กำหนดสีพื้นหลังให้เฉพาะ div */
        .my-div {
          background-color: yellow;
        }
      </style>
    </head>
    
</html>